{{!< default}}
{{!--
/**
* Engagement Lab Web Suite
* Developed by Engagement Lab, 2016
* ==============
*
* Index Page sample Template
* ==========
*/
--}}


<div class="container-fluid home">
	<div class="row">

	<h3>The Book</h3>

	<div class="content">
	{{{text.html}}}
	</div>
		
	</div>

</div> <!-- .container-fluid -->